<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.dev.valmirt.anothertodolist">

    <application
        android:name=".ToDoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/MyTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <nav-graph android:value="@navigation/navigation_splash" />
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/MyTheme.NoActionBar">

            <nav-graph android:value="@navigation/navigation_home" />
        </activity>
    </application>

</manifest>